.calculator {
    padding: 50px 0 65px 0;
}
.title-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 58px;
    gap: 10px;
}
.title-backgraund {
    padding: 0 5px 2px 5px;
    background: var(--header-contact);
    border-radius: 2px;
}

.groups-calculator {
    display: flex;
}

.calculator-price {
    max-width: 727px;
    padding: 30px 54px 30px 54px;
    display: grid;
    grid-template-columns: 220px 405px;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    background: var(--calculator-background-form);
    box-shadow: 0px 0px 30px var(--calculator-shadow-form)
}
.calculator__line {
    display: flex;
    justify-content: center;
}
.line-calculator {
    width: 620px;
    border-bottom: 2px solid #F6B84D;
}
.form-field {
    display: flex;
}
.colors {
    grid-area: 2 / 1 / 2 / 3;
}
.buttton-calculate {
    grid-area: 5 / 1 / 5 / 3;
}
.text-field1 {
    opacity: 0.7;
    text-align: left;
    padding-bottom: 10px;
}
.mani {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    background: var(--calculator-background-form);
    color: var(--header-numvers);
    font-family: var(--header-font-jost);
}

.check {
    display: flex;
    gap: 20px;
}
.checkb {
    display: flex;
    gap: 20px;

}
.radio {
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.radio > input {
    visibility: hidden;
    position: absolute;
}
.radio > i {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid var(--calculator-check-mark);
    background-image: url(./icons/check_mark_grey.svg);
    block-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.radio > input:checked + i {
    border: 1px solid var(--header-contact);
    background-image: url(./icons/check_mark_oreng.svg);
}
 
.text-field {
    display: block;
}
.field-title {
    text-align-last: left;
    opacity: 0.7;
    padding-bottom: 10px;
}
.buttton-calculate {
    display: flex;
}
.fone-calculate {
    width: 239px;
    height: 54px;
    padding-left: 20px;
}
.will-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    background: var(--header-contact);
    border: 1px solid var(--header-contact);
    width: 350px;
    height: 57px;
    border-radius: 0;
}
.text-field {
    width: 219px;
}

.modal {
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--home-form-shadow);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    transform: scale(0);
}
.modal.active {
    transform: scale(1);
}
.madal__content {
    display: flex;
    flex-direction: column;
    width: 835px;
    height: 200px;
    background-color: var(--calculator-background-form);
    box-shadow: 0px 0px 30px var(--calculator-shadow-form);
}
.modal__block_line {
    display: flex;
    justify-content: center;
}
.modal__line {
    width: 620px;
    border: 2px solid #F6B84D;
}
.madal__title {
    padding: 35px 0 20px 0 ;
}
.modal__botton {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none;
    background: none;
}
.modal__block_button {
    padding: 14px 25px 0 0;
    display: flex;
    justify-content: end;
}