.sheathing {
    padding: 40px 0 130px 0;
    background: var(--calculator-background-form);
}
.sheathing__group_title {
    display: flex;
    justify-content: center;
    white-space: pre;
}
.sheathing__icon_perila {
    position: absolute;
    padding-top: 40px;
    z-index: 0;
}
.sheathing__stages {
    padding-top: 93px;
    display: flex;
    flex-direction: column;
    gap: 65px;
}
.stages {
    display: flex;
    align-items: center;
    z-index: 1;
}
.stages__circle {
    background: var(--header-contact);
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.stages__line {
    border: 1px solid var(--header-contact);
}
.stages__arrow {
    background: var(--header-contact);
    background-image: url(./iconns/Arrow_white.svg);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    block-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.stages__text {
    padding: 0 0 0 20px;
    text-align-last: left;
}
.stages__body {
    font-weight: 400;
}