.header {
    background: var(--calculator-background-form);
}
.header_block{
    padding: 25px 30px 25px 0;
    display: flex;    
}
.logo_wraper {
    max-width: 120px;
    z-index: 4;
}

.header__text {
    padding: 10px 0 0 32px;
    width: 328px;
    font-weight: 500;
    font-size: 16px;
    z-index: 4;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    width: 165px;
}
.link {
    color: var(--header-nunbers);
    text-decoration: underline;
    font-weight: 300;
}
.link:hover {
    color: var(--header-email);
}

.header__fixed {
    position: fixed;
    top: 0;
    right: 0;
    padding: 25px 130px 25px 0; 
    display: flex;
    align-items: center;
    justify-content: end;   
    background: var(--calculator-background-form);
    z-index: 3;
    width: 100%;
}

.nav {
    position: sticky;
    z-index: 4;
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    transform: translate(-480px, 100px);
    gap: 40px;
    flex-wrap: wrap;
}
.menu-link {
    color: var(--header-numvers);
    font-family: var(--header-font-jost);
    font-weight: 400;
} 

.fixed {
    position: fixed;
    top: 35px;
    transform: translate(0, -95px);
}
