.header{
    padding: 25px 0 25px 0;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
.logo_wraper {
    width: 120px;
}
.header__text {
    padding: 10px 160px 0 0;
    width: 328px;
    font-weight: 500;
    font-size: 16px;
}
.social_networks {
    display: flex;
    padding-right: 100px;
    gap: 17px;
}
.messengers {
    display: flex;
    gap: 8px;
    color: var(--header-messengers-text);
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    width: 165px;
}
.link {
    color: var(--header-nunbers);
    text-decoration: underline;
    font-weight: 300;
}