@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
    --header-font-jost: 'Jost', sans-serif;
    --header-font-Montserrat: 'Montserrat', sans-serif;
    --header-contact: #F6B84D;
    --header-messengers-text: #C4C4C4;
    --header-numvers: #000000;
    --header-email: #959595;
    --home-video-background: #FFFFFF;
    --home-video-shadow: rgba(0, 0, 0, 0.07);
    --home-form-shadow: rgba(0, 0, 0, 0.21);
    --calculator-check-mark: #C4C4C4;
    --calculator-background-form: #FAFAFA;
    --calculator-shadow-form: rgba(166, 166, 166, 0.17);
    --catalog-line: #E5E5E5;
}
.container {
    max-width: 1260px;
    margin: 0 auto;
}
h1 {
    font-weight: 800;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: var(--header-numvers);
    font-family: var(--header-font-jost);
}
h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: var(--header-numvers);
    font-family: var(--header-font-jost);
}
h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-numvers);
    font-family: var(--header-font-jost);
}
h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.08em;
    text-transform: uppercase;    
    color: var(--header-numvers);
    font-family: var(--header-font-jost);
}
h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: var(--header-numvers);
    font-family: var(--header-font-jost);
}
h6 {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: var(--header-numvers);
    font-family: var(--header-font-jost);
}
p {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.03em;
    font-family: var(--header-font-Montserrat);
    color: var(--header-messengers-text);
}
a {
    text-decoration: none;
}

.animations-contacts:hover .phone{
    color: var(--header-contact);
}

.social_networks {
    display: flex;
    padding-right: 100px;
    align-items: center;
    gap: 17px;
}
.vk{
    width: 22px;
    height: 12.83px;
    background-image: url(./components/icons/vk.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.vk:hover {
    background-image: url(./components/icons/vk_gray.svg);
}
.instagram {
    width: 20px;
    height: 20px;
    background-image: url(./components/icons/instagram.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.instagram:hover {
    background-image: url(./components/icons/instagram_gray.svg);
}

.messengers {
    display: flex;
    gap: 8px;
    color: var(--header-messengers-text);
}
.animations {
    display: flex;
    cursor: pointer;
    gap: 8px;
}
a.whats-app {
    width: 18px;
    height: 18px;
    background-image: url(./components/icons/whatsapp.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.animations:hover a.whats-app {
    background-image: url(./components/icons/whatsapp_grin.svg);
}
.animations:hover .whats-app {
    color: var(--header-numvers);
}
a.viber {
    width: 18px;
    height: 18px;
    background-image: url(./components/icons/viber.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.animations:hover a.viber {
    background-image: url(./components/icons/viber_violet.svg);
}
.animations:hover .viber {
    color: var(--header-numvers);
}
a.telegram {
    width: 18px;
    height: 18px;
    background-image: url(./components/icons/telegram.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.animations:hover a.telegram {
    background-image: url(./components/icons/telegram_blue.svg);
}
.animations:hover .telegram {
    color: var(--header-numvers);
}